<div>
    <table>
        <tr>
            <th>Flight Number</th>
            <th>Carrier</th>
            <th>Origin</th>
            <th>Departure</th>
            <th>Destination</th>
            <th>Arrival</th>
            <th>Aircraft</th>
            <th>Distance</th>
            <th>Travel Time</th>
            <th>Status</th>
        </tr>
        <tr>
            <td>{{outputFlight.flightNumber}}</td>
            <td>{{outputFlight.carrier}}</td>
            <td>{{outputFlight.origin}}</td>
            <td>{{outputFlight.departure}}</td>
            <td>{{outputFlight.destination}}</td>
            <td>{{outputFlight.arrival}}</td>
            <td>{{outputFlight.aircraft}}</td>
            <td>{{outputFlight.distance}}</td>
            <td>{{outputFlight.travelTime}}</td>
            <td>{{outputFlight.status}}</td>
        </tr>
    </table>

</div>